<div class="card">
    <span class="text-900 text-xl font-bold mb-5 block">Edite sua senha</span>
    <div class="grid">
        <div class="col-12 lg:col-2">
            <p class="m-0 p-0 text-600 line-height-3 mr-3">Informe a senha antiga e a atual respectivamente.</p>
        </div>
        <form [formGroup]="userPasswordForm" class="col-12 lg:col-10">
            <div class="grid formgrid p-fluid">
                <div class="mb-5 col-12 md:col-6 field p-float-label">
                    <input id="currentPassword" type="password" pInputText formControlName="currentPassword">
                    <label for="currentPassword" class="font-medium text-900 pl-3">Senha Atual</label>
                </div>
                <div class="mb-5 col-12 md:col-6 field p-float-label">
                    <input id="newPassword" type="password" pInputText formControlName="newPassword">
                    <label for="newPassword" class="font-medium text-900 pl-3">Nova senha</label>
                </div>
            </div>
            <div>
                <p-button
                    type="submit"
                    label="Editar dados"
                    [loading]="loading"
                    class="w-auto mt-4"
                    (onClick)="updatePassword()">
                </p-button>
            </div>
        </form>
    </div>
</div>
