<div>
    <div class="card" style="height: 40rem;" *ngIf="!showUserUpdate && !showUserPassword">
        <div class="grid p-4 h-full">
            <div class="flex flex-column gap-2">
                <span class="text-600 text-xl font-bold mb-5 block">Olá, {{userData?.username}}</span>
            </div>
            <div class="col-12 lg:col-10 pt-6 flex flex-column justify-content-between">
                <div>
                    <li class="mb-4 flex align-items-center justify-content-start">
                        <p-avatar icon="pi pi-user-edit" size="large" shape="circle" styleClass="text-base font-bold"
                                  [style]="{'background-color':'#1992D4', 'color': '#35647f', 'border': '1px solid #1992D4'}">
                        </p-avatar>
                        <div class="ml-3">
                            <span class="block">Altere os dados do seu usuário</span>
                            <span class="text-primary hover:underline cursor-pointer block font-bold" (click)="navigateToUpdateProfile()">Editar usuario</span>
                        </div>
                    </li>
                    <li class="mb-4 flex align-items-center justify-content-start">
                        <p-avatar icon="pi pi-key" size="large" shape="circle" styleClass="text-base font-bold"
                                  [style]="{'background-color':'#1992D4', 'color': '#35647f', 'border': '1px solid #1992D4'}">
                        </p-avatar>
                        <div class="ml-3">
                            <span class="block">Altere a senha do seu usuário</span>
                            <span class="text-primary hover:underline cursor-pointer block font-bold" (click)="navigateToUpdatePassword()">Editar senha</span>
                        </div>
                    </li>
                </div>
                <li class="mt-4 flex align-items-center justify-content-start">
                    <p-avatar icon="pi pi-trash" size="large" shape="circle" styleClass="text-base font-bold"
                              [style]="{'background-color':'rgb(241 99 99 / 35%)', 'color': 'rgb(187 70 70)', 'border': '1px solid rgb(187 70 70)'}">
                    </p-avatar>
                    <div class=" ml-3">
                        <span style="color: rgb(187 70 70)" class="hover:underline cursor-pointer block font-bold" (click)="modalExcluir(modaldelete)">Deletar Conta</span>
                    </div>
                </li>
            </div>
        </div>
    </div>
    <app-profile-upload [userData]="userData" (actionSuccess)="hideUserUpdate($event)" *ngIf="showUserUpdate"></app-profile-upload>
    <app-password-upload [userData]="userData" (actionSuccess)="hideUserPassword($event)" *ngIf="showUserPassword"></app-password-upload>
    <app-delete-user-modal #modaldelete></app-delete-user-modal>
</div>
